.Login {
    max-width: 300px;
    margin: 0 auto;
}

.Login input {
    border-color: #008080;
}

.Header {
    width: fit-content;
    padding: 1em;
    margin: 0 auto;
    color: #008080;
}

.LoginButton {
    width: 100%;
}

.Alert {
    max-width: 300px;
    margin: 0 auto;
}