.Main {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;

}
.Categories {
    width: 20%;
    display: table;
    margin-right: 5em;
}

.Posts {
    width: 80%;
}

.ListItem:hover {
    background-color: #b2dfdb;
    color: #004d40;
    cursor: pointer;
    border-right: 2px solid #00897B;
}